
<!-- 账户界面 -->
<div class="container">
  <div  class="account-panel row">
    <!-- 边侧导航栏 -->
    <div class="account-sidebar col-md-3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="sidebar-selected"><a ui-sref="account"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>个人信息</a></li>
          <li><a ui-sref="bill"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>我的账单</a></li>
          <li><a ui-sref="order"><span class="glyphicon glyphicon glyphicon-tags" aria-hidden="true"></span>我的订单</a></li>
          <li><a ui-sref="collection"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>我的收藏</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span>优惠券</a></label></li>
          <li><a href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>问题反馈</a></li>
        </ul>
      </div><!--/.well -->
    </div>
    <div class="account-content-panel col-md-9">
      <h2>修改密码</h2>
      <hr>
      <div id="account-modify" class="col-sm-offset-1">
        <form class="form-horizontal" name="form_modify_password">
          <div class="form-group">
            <label class="col-sm-2 control-label">当前密码</label>
            <div class="col-sm-6 has-feedback">
              <input  name="pre_password" 
                      ng-model="credentials.input_password" 
                      type="password" 
                      class="form-control input-lg" 
                      placeholder="请输入当前密码"
                      required
                      ng-class="{'validation-error':form_modify_password.pre_password.$invalid&&form_modify_password.pre_password.$dirty,'validation-success':form_modify_password.pre_password.$valid&&form_modify_password.pre_password.$dirty}">
              <span class="warning-info" ng-show="form_modify_password.pre_password.$error.required&&form_modify_password.pre_password.$dirty">{{"请输入当前密码"}}</span>
              <span ng-show="form_modify_password.pre_password.$valid&&form_modify_password.pre_password.$dirty" class="warning-icon-success glyphicon glyphicon-ok form-control-feedback"></span>
              <span ng-show="form_modify_password.pre_password.$invalid&&form_modify_password.pre_password.$dirty" class="warning-icon-error glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">新密码</label>
            <div class="col-sm-6 has-feedback">
              <input  name="new_password" 
                      ng-model="credentials.input_new_password" 
                      type="password" 
                      class="form-control input-lg" 
                      placeholder="请输入新密码"
                      required
                      ng-pattern="/^[a-zA-Z]\w{5,17}$/"
                      ng-class="{'validation-error':form_modify_password.new_password.$invalid&&form_modify_password.new_password.$dirty,'validation-success':form_modify_password.new_password.$valid&&form_modify_password.new_password.$dirty}">
              <span class="warning-info" ng-show="form_modify_password.new_password.$error.required&&form_modify_password.new_password.$dirty">{{"请输入新密码"}}</span>
              <span class="warning-info" ng-show="form_modify_password.new_password.$error.pattern">{{"新密码必须以字母开头，长度在6~18之间，只能包含字母、数字和下划线"}}</span>
              <span ng-show="form_modify_password.new_password.$valid&&form_modify_password.new_password.$dirty" class="warning-icon-success glyphicon glyphicon-ok form-control-feedback"></span>
              <span ng-show="form_modify_password.new_password.$invalid&&form_modify_password.new_password.$dirty" class="warning-icon-error glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">确认新密码</label>
            <div class="col-sm-6 has-feedback">
              <input  name="confirm_password" 
                      ng-model="credentials.input_confirm_password" 
                      type="password" 
                      class="form-control input-lg" 
                      placeholder="请再次输入新密码"
                      required
                      same-with="credentials.input_new_password"
                      ng-class="{'validation-error':form_modify_password.confirm_password.$invalid&&form_modify_password.confirm_password.$dirty,'validation-success':form_modify_password.confirm_password.$valid&&form_modify_password.confirm_password.$dirty}">
              <span class="warning-info" ng-show="form_modify_password.confirm_password.$error.required&&form_modify_password.confirm_password.$dirty">{{"请输入新密码"}}</span>
              <span class="warning-info" ng-show="form_modify_password.confirm_password.$error.noMatch&&form_modify_password.confirm_password.$dirty">{{"两次输入的密码不相同"}}</span>
              <span ng-show="form_modify_password.confirm_password.$valid&&form_modify_password.confirm_password.$dirty" class="warning-icon-success glyphicon glyphicon-ok form-control-feedback"></span>
              <span ng-show="form_modify_password.confirm_password.$invalid&&form_modify_password.confirm_password.$dirty" class="warning-icon-error glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-3">
              <button type="button" class="btn btn-lg btn-success" ng-disabled="form_modify_password.$invalid" ng-click="modifyPassword()">提交</button>
            </div>
          </div>
          </form>
      </div>
    </div>
  </div>
</div>
