<!-- 密码找回 -->
<div id="retrieve-panel" class="container">
  <div class="col-md-6 col-md-offset-3">
    <h2>密码找回</h2>
    <hr>
    <div>
      <div>
        <ul>
          <li ng-class="{'active':tab1}" ng-click="tab1=true">
            <a href=""><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;通过邮箱找回</a>
          </li>
          <li class="last-tab" ng-class="{'active':!tab1}" ng-click="tab1=false">
            <a href=""><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;通过手机找回</a>
          </li>       
        </ul>
      </div>
      <div ng-show="tab1" class="check-panel">
        <form class="form-horizontal" name="form_retrieve_by_email">
          <div class="notify-panel col-xs-9 col-xs-offset-3">
            <span class="notify-info" ng-show="notify_message&&form_retrieve_by_email.account.$valid">{{"验证码已经发送到此账号所绑定的邮箱"}}</span>
          </div>
          <div class="form-group">
            <label class="col-xs-3 control-label">找回账号</label>
            <div class="col-xs-8 has-feedback">
              <input  name="account"
                      ng-model="input_account" 
                      class="form-control input-lg" 
                      placeholder="请输入你要找回的账号" 
                      required
                      ng-pattern="/^[a-zA-Z]\w{5,17}$/"
                      ng-class="{'validation-error':form_retrieve_by_email.account.$invalid&&form_retrieve_by_email.account.$dirty,'validation-success':form_retrieve_by_email.account.$valid&&form_retrieve_by_email.account.$dirty}">
              <span class="warning-info" ng-show="form_retrieve_by_email.account.$error.required&&form_retrieve_by_email.account.$dirty">{{"请输入要找回的账号"}}</span>
              <span class="warning-info" ng-show="form_retrieve_by_email.account.$error.pattern">{{"账号必须以字母开头，长度在6~18个字符之间，只能包含字母、数字和下划线"}}</span>
              <span ng-show="form_retrieve_by_email.account.$valid&&form_retrieve_by_email.account.$dirty" class="warning-icon-success glyphicon glyphicon-ok form-control-feedback"></span>
              <span ng-show="form_retrieve_by_email.account.$invalid&&form_retrieve_by_email.account.$dirty" class="warning-icon-error glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-3 control-label" for="code">验证码</label>
            <div class="col-xs-8">
              <div class="input-group ">          
                <input  type="text" 
                        class="form-control input-lg" 
                        id="code" 
                        placeholder="请输入验证码"
                        name="code"
                        ng-model="input_email_code"
                        required>                
                <div class="input-group-btn">
                  <button type="button" ng-disabled="form_retrieve_by_email.account.$invalid" class="btn btn-lg btn-success" ng-click="notify_message=true">获取验证码</button>
                </div>
              </div>
              <span class="warning-info" ng-show="form_retrieve_by_email.code.$error.required&&form_retrieve_by_email.code.$dirty">{{"请输入验证码"}}</span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-offset-3 col-xs-5">
              <button type="button" class="btn btn-lg btn-warning btn-submit" ng-disabled="form_retrieve_by_email.$invalid" ng-click="notify_message=false">提交</button>
            </div>
          </div>
        </form>
      </div>
      <div ng-show="!tab1" class="check-panel">
        <form class="form-horizontal" name="form_retrieve_by_phone">
          <div class="notify-panel col-xs-9 col-xs-offset-3">
            <span class="notify-info" ng-show="notify_message2&&form_retrieve_by_phone.account.$valid">{{"验证码已经发送到此账号所绑定的手机"}}</span>
          </div>
          <div class="form-group">
            <label class="col-xs-3 control-label">找回账号</label>
            <div class="col-xs-8 has-feedback">
              <input  name="account"
                      ng-model="input_account_by_phone" 
                      class="form-control input-lg" 
                      placeholder="请输入你要找回的账号" 
                      required
                      ng-pattern="/^[a-zA-Z]\w{5,17}$/"
                      ng-class="{'validation-error':form_retrieve_by_phone.account.$invalid&&form_retrieve_by_phone.account.$dirty,'validation-success':form_retrieve_by_phone.account.$valid&&form_retrieve_by_phone.account.$dirty}">
              <span class="warning-info" ng-show="form_retrieve_by_phone.account.$error.required&&form_retrieve_by_phone.account.$dirty">{{"请输入要找回的账号"}}</span>
              <span class="warning-info" ng-show="form_retrieve_by_phone.account.$error.pattern">{{"账号必须以字母开头，长度在6~18个字符之间，只能包含字母、数字和下划线"}}</span>
              <span ng-show="form_retrieve_by_phone.account.$valid&&form_retrieve_by_phone.account.$dirty" class="warning-icon-success glyphicon glyphicon-ok form-control-feedback"></span>
              <span ng-show="form_retrieve_by_phone.account.$invalid&&form_retrieve_by_phone.account.$dirty" class="warning-icon-error glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-3 control-label" for="code">验证码</label>
            <div class="col-xs-8">
              <div class="input-group ">          
                <input  type="text" 
                        class="form-control input-lg" 
                        id="code" 
                        placeholder="请输入验证码"
                        name="code"
                        ng-model="input_phone_code"
                        required>               
                <div class="input-group-btn">
                  <button type="button" ng-disabled="form_retrieve_by_phone.account.$invalid" class="btn btn-lg btn-success" ng-click="notify_message2=true">获取验证码</button>
                </div>
              </div>
              <span class="warning-info" ng-show="form_retrieve_by_phone.code.$error.required&&form_retrieve_by_phone.code.$dirty">{{"请输入验证码"}}</span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-offset-3 col-xs-5">
              <button type="button" class="btn btn-lg btn-warning btn-submit" ng-disabled="form_retrieve_by_phone.$invalid" ng-click="notify_message2=false">提交</button>
            </div>
          </div>    
        </form>
      </div>
    </div>
  </div>
</div>